* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

h1,h3{
    font-family: 'Arvo', serif;
}

.front-page-header h1 {
    font-size: 50px;
    margin: 20px 0 15px 0;
}

.front-page-link h3 {
    font-size: 40px;
    margin: 55px 0 15px 0;
}

.front-page-header,
.front-page-link {
    text-align: center;
}

.front-page-link li {
    display: inline-block;
    font-family: 'Arvo',serif;
    margin-right: 20px;
    font-size: 20px;
    padding: 15px;
}

/* start recipe content */

.content {
    display: flex;
    justify-content: center;
}

.recipe-content {
    width: 600px;
    margin: 50px;
}

.recipe-content h1 {
    font-size: 46px;
    margin-bottom: 20px;
}

.recipe-head h3{
    margin-top: 7px;
}

.recipe-content h3{
    font-size: 30px;
    margin: 10px 0px 10px 0px;
}

.recipe-ingredients li {
    margin-left: 16px;
    padding: 0px 0 10px 0;
}

.recipe-directions li {
    list-style-type: none;
    padding: 15px 0 0 0;
}

/* end recipe content*/

/* start nutrition facts */

.nutrition-facts table{
    width: 400px;
    text-align: left;
    border-collapse: collapse;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 10px;
}

.box {
    border: 1px solid black;
    height: 958px;
    margin: 50px;
}

.nutrition-facts .nutrition-label-right td {
    text-align: right;
    padding: 5px 0 5px 0;
}

.nutrition-body .value {
    text-align: right;
    padding: 5px;
}

.sub-heading {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

.separator {
    height: 20px;
    border-bottom: 1px solid black;
    border-width: 7px;
}

.nutrition-body td {
    border-bottom: 1px solid lightgray;
}

.nutrition-header-left .heading{
    border-bottom: 1px solid black;
}

.nutrition-facts .heading th {
    font-size: 51px;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;

}

.label span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nutrition-facts .nutrition-footer p {
    width: 400px;
    padding: 20px 24px 0px 24px;
}

.nutrition-footer span {
    text-decoration: underline;
}

/* end nutrition facts */