@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-navbar {
    border: 1px solid;
    display: flex;
    align-items: center;
    background-color: #222223;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    padding-left: 20px;
}
/* end */

/* main */
main {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 50px;
}

.label-recipes {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 50px;
    font-weight: bold;
}

.recipe-links {
    border-top: 1px solid;
}

.ul-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 50px;
    gap: 50px;
}
/* end */

/* footer */
.footer {
    font-family: 'Poppins', sans-serif;
    background-color: #222223;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.text-line {
    font-size: 25px;
    color: whitesmoke;
}

.line {
    border:1px solid whitesmoke;
    flex-grow: 1;
    margin: 30px;
}
/* end */

/* parent container */
.parent-content {
    display: flex;
    justify-content: center;
}

.child {
    width: 600px;
    margin: 20px;
}
/* end */

/* recipe content */
.recipe-content h1 {
    font-size: 40px;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
}

.recipe-content h3 {
    font-size: 30px;
    padding: 10px 0 10px 0;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
}
.recipe-content .recipe-ingredients ul{
    padding-left: 16px;
}

.recipe-content li {
    padding-bottom: 20px;
}

.recipe-content {
    font-family: 'Poppins', sans-serif;
}

.recipe-directions li {
    list-style-type: none;
}
/* end */

/* nutrition facts */
.nutrition-box {
    width: 448px;
    height: fit-content;
    border: 2px solid black;
}

.nutrition-facts table{
    width: 400px;
    text-align: left;
    border-collapse: collapse;
    margin: 24px 24px 24px 24px;
    border-top: 7px solid black;
    border-bottom: 7px solid black;
}

.nutrition-header {
    margin: 24px 24px 0 24px;
    width: 400px;
}

.nutrition-header .header {
    border-bottom: 1px solid darkgray;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
}

.nutrition-header h2 {
    font-size: 57px;
}

.sub-header h3{
    font-family: 'Franklin Gothic low', 'Arial Narrow', Arial, sans-serif;
}

.nutrition-footer {
    margin: 0 24px 24px 24px;
    font-family: 'Franklin Gothic low', 'Arial Narrow', Arial, sans-serif;
}

.nutrition-label-right td{
    text-align: right;
}

.nutrition-body .value {
    text-align: right;
}

.nutrition-body td {
    border-bottom: 1px solid darkgray;
    padding: 5px 0 5px 0;
}

.nutrition-body .label span{
    font-weight: bold;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}
/* end */